
#pisteet {
    position: fixed;
    top: -4%;
    left: 50%x;
    font-size: 300%;
}

#game {
    position: fixed;
    top: 300px;
    left: 200px;
}

#pelaa {
    position: fixed;
    height: 10%;
    top: 60%;
    width: 20%;
    background-color: red;
    left: 5%;
    top: 80%;
    color: white;
    font-size: 300%;
}

.T1 {

    background-image: url("tpv.png");
    background-size: 100% 100%;
}

.T2 {
    
    background-image: url("tamu.png");
    background-size: 100% 100%;
}

.T3 {

    background-image: url("hjk.png");
    background-size: 100% 100%;
}

.T4 {
 

    background-image: url("haka.png");
    background-size: 100% 100%;
}

.T5 {
 
    background-image: url("inter.jpg");
    background-size: 100% 100%;
}

.T0 {
   ;
    ;
    background-image: url("tps.png");
    background-size: 100% 100%;
}

#rulla1 {
    position: fixed;
    left: 5%;
    top: 80px;
    width: 20%;
    height: 40%;
}

#rulla2 {
    position: fixed;
    left: 35%;
    top: 80px;
    width: 20%;
    height: 40%;
    content: " New!";
}

#rulla3 {
    position: fixed;
    left: 65%;
    top: 80px;
    width: 20%;
    height: 40%;
}

#lukko1 {
    position: fixed;
    left: 5%;
    height: 10%;
    width: 20%;
    top: 51%;
    font-size: 300%;
    color: white;
}
td {
background-color:white;
}


#lukko2 {
    position: fixed;
    left: 35%;
    width: 20%;
    height: 10%;
    top: 51%;
    font-size: 300%;
    color: white;
}

#lukko3 {
    position: fixed;
    height: 10%;
    width: 20%;
    left: 65%;
    top: 51%;
    font-size: 300%;
    color: white;
}

h1 {
    content: " New!";
}

#ohjeet {
    position: fixed;
    left: 50%;
    top: 65%;
    font-size: 100%;
     color: white;
}

.selected {
    background-color: yellow;
}

.unselected {
    background-color: #FF9933;
}
